.result-box {
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 3px;
  background-color: var(--nav-background);
}

.result-box.even {
  background-color: var(--hover-color);
}

.result-box.empty {
  color: #6B778C;
  font-style: italic;
}

.result-box.success {
  background-color: #E3FCEF;
  color: #006644;
}

.result-box.warning {
  background-color: #FFFAE6;
  color: #FF8B00;
}

.result-box.error {
  background-color: #FFEBE6;
  color: #DE350B;
}

.status-select {
  background-color: white;
  color: var(--text-color);
}

.status-select:hover {
  border-color: var(--primary-color);
}
